<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexanderarobinson.easyschedules">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AssignCustomJobTitlesActivity"/>
        <activity android:name=".activity.CreateCustomJobTitleActivity" />
        <activity android:name=".activity.ViewMessageWallAdminActivity" />
        <activity android:name=".activity.ConnectActivity" />
        <activity android:name=".activity.ViewMessageWallActivity" />
        <activity android:name=".activity.ViewPendingShiftsActivity" />
        <activity android:name=".activity.GenerateCompanyCodeActivity" />
        <activity android:name=".activity.RegisterCompanyInfoActivity" />
        <activity android:name=".activity.RegisterOwnerActivity" />
        <activity android:name=".activity.AvailableShiftsActivity" />
        <activity android:name=".activity.CreateScheduleActivity" />
        <activity android:name=".activity.AdminHomeActivity" />
        <activity android:name=".activity.ViewScheduleActivity" />
        <activity android:name=".activity.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
    </application>

</manifest>